// * Variable
@font-face {
  font-family: "Made Tommy Regular";
  src: url("/assets/font/MADE\ TOMMY\ Regular.otf");
}

@font-face {
  font-family: "Made Tommy Medium";
  src: url("/assets/font/MADE\ TOMMY\ Medium.otf");
}

@font-face {
  font-family: "Made Tommy Bold";
  src: url("/assets/font/MADE\ TOMMY\ Bold.otf");
}

$madeRegular: "Made Tommy Regular", sans-serif;
$madeMedium: "Made Tommy Medium", sans-serif;
$madeBold: "Made Tommy Bold", sans-serif;
$shadow: 0 8px 24px
  rgba(
    $color: #000000,
    $alpha: 0.18,
  );
$primaryColor: #48e28d;
$primaryColorDark: darken($primaryColor, 10%);

// * Global
html {
  scroll-behavior: smooth;
}

body {
  font-family: $madeRegular;
}

a {
  text-decoration: none;
}

// ? Class & ID's
.btn {
  border: none;
}

#btn-landing a {
  padding: 12px 18px;
}

.btn-primary {
  background-color: $primaryColor;

  &:hover {
    background-color: $primaryColorDark;
  }
}

.btn-primary,
.btn-secondary {
  transition: 0.3s;

  &:hover {
    box-shadow: $shadow;
    transform: translateY(-8px);
    position: relative;
  }
}

.btn-donate {
  color: $primaryColor !important;
  font-weight: 600;
  background-color: whitesmoke;
  border-radius: 8px;
  border: none !important;
  transition: 0.3s;

  &:hover {
    background-color: whitesmoke;
    box-shadow: $shadow;
    transform: translateY(-4px);
    position: relative;
  }
}

.dropdown-menu {
  border: none;
  border-radius: 12px;
  box-shadow: $shadow;

  .dropdown-item {
    padding: 14px;
  }
}

#main-title {
  font-family: $madeBold;
}

.navbar-brand img {
  height: 24px;
}

.navbar-nav .nav-item:not(:last-child) {
  margin-right: 16px;
  font-weight: 600;
}

.navbar-toggler {
  border: none;

  &:focus {
    background-color: whitesmoke;
  }

  .fas {
    color: black;
  }
}

#section-1 {
  padding: 82px 0;
}

#section-2 {
}

#section-2-card {
  border-radius: 28px;
}

#section-3 {
  margin-top: 200px;
}

#section-3-quotes {
  line-height: 150%;

  div & {
    background-image: url("/assets/quotes.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 34px 0;
  }
}

#tagline {
  margin-top: -30px;
  margin-bottom: -10px;
}

// ? Phone breakpoint
@media (max-width: 575.98px) {
  #hero-img {
    width: 260px;
  }
}

// ! Animated Dropdown
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
